pytest==8.0.0
pytest-cov==4.1.0
pytest-asyncio==0.23.0
pytest-mock==3.12.0
httpx==0.25.2
faker==20.1.0

passlib==1.7.4
pydantic_settings==2.12.0
python_jose==3.5.0
sqlmodel==0.0.31
fastapi
uvicorn[standard]
python-multipart
alembic
psycopg2-binary
asyncpg
python-dotenv
cryptography
argon2-cffi
email-validator

